---
import PageLayout from '@layouts/PageLayout.astro'
import { SITE } from '@consts'
import TwinklingStars from '@components/TwinklingStars.astro'
import MeteorShower from '@components/MeteorShower.astro'
import Hero from '@components/Hero.astro'
import Verse from '@components/Verse'
import { languages } from '@components/languages.js'
import FullPoem from '@components/FullPoem'

const poem = languages['en'].poem
---

<PageLayout title='Home' description={SITE.DESCRIPTION}>
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>
  <div id='galaxy' class='fixed inset-0'>
    <div class='hidden dark:block'>
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>
  <Hero />
  <div class='relative bg-white dark:bg-black sm:text-lg'>
    {
      poem.map((verse) => {
        return (
          <div class='mx-auto max-w-screen-sm flex flex-col justify-center space-y-24 h-[60vh] poem'>
            <Verse client:load number={poem.indexOf(verse) + 1} />
          </div>
        )
      })
    }
    <div
      class='mx-auto max-w-screen-sm flex flex-col justify-center space-y-24 h-screen poem-1'
    >
      <FullPoem client:load />
      <div
        class='bg-black h-40 absolute bottom-0 p-4 w-full max-w-screen-sm flex flex-col-reverse z-20 items-center gap-1 text-sm'
      >
        <div class='footer'>
          <!-- &copy; 2024 Khac Minh Dau. All rights reserved. -->
        </div>
      </div>
    </div>
    <div class='fixed p-2 bottom-4 flex flex-col w-full items-center gap-1'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='lucide lucide-mouse h-6 w-6 sm:h-8 sm:w-8'
        ><rect x='5' y='2' width='14' height='20' rx='7'></rect><path
          d='M12 6v4'></path></svg
      >
      <p class='text-sm sm:text-base'>Scroll down slowly</p>
    </div>
  </div>
  <script>
    import ScrollReveal from 'scrollreveal'

    const sr = ScrollReveal({
      origin: 'top',
      distance: '0px',
      duration: 200,
      reset: true,
      opacity: 1,
    })

    sr.reveal('.poem', { opacity: 0, cleanup: true, viewFactor: 0.9 })
    sr.reveal('.footer', { opacity: 0, cleanup: true })
    sr.reveal('.poem-1', { opacity: 0, cleanup: true, viewFactor: 0.9 })
  </script>
  <script is:inline src='/js/bg.js'></script>
</PageLayout>
